@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

// app global css in SCSS form
.text-lightShadeOne {
  color: $lightShadeOne;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.q-layout {
  // min-height: 100vh;
  // min-height: unset !important;
  min-height: calc(100vh - 140px) !important;
}
.q-page {
  min-height: calc(100vh - 140px) !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
